

fs-tabnav md-ink-bar.md-right,
fs-tabnav md-ink-bar.md-left {
    transition: none;
}

fs-tabnav-content {
    padding: 12px;
    display: block;
}

fs-tabnav .md-tab {
	display: none;
}

fs-tabnav .md-tab.show {
	display: inline;
}

fs-tabnav .md-tabs {
	border-bottom: 1px solid #E1E1E1;
}

fs-tabnav a.disabled {
	cursor: default;
	color: #ccc !important;
}

fs-tabnav .md-tabs a {
	color: #757575;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}