<fs-tabnav fs-selected="selected">
    <fs-tabnav-item fs-url="#/general">General</fs-tabnav-item>
    <fs-tabnav-item fs-url="#/generalpermission" fs-name="general" fs-show="hasPermission">General Permission</fs-tabnav-item>
    <fs-tabnav-item fs-url="#/demo" fs-name="general">Demo</fs-tabnav-item>
    <fs-tabnav-item fs-url="#/demo1" fs-name="information" fs-show="show">Information</fs-tabnav-item>
    <fs-tabnav-item fs-url="#/settings" fs-name="settings" fs-disabled="disabled"><span class="test">Settings {{variable}}</span></fs-tabnav-item>
    <fs-tabnav-item fs-click="click()" fs-name="click" fs-disabled="disabled">Click</fs-tabnav-item>
    <fs-tabnav-item fs-click="text='Clicked text!!'" fs-name="clicktext" fs-disabled="disabled">Click: Text</fs-tabnav-item>
</fs-tabnav>
<fs-tabnav-content>
	Text: {{text}}
</fs-tabnav-content>

<h3>Selected: {{selected}}</h3>

<br><br><br><br>

<div><a href ng-click="selected='information'">Tab: Information</a></div>
<div><a href ng-click="selected='settings'">Tab: Settings</a></div>
<div><a href ng-click="selected='click'">Tab: Click</a></div>
<div><a href ng-click="selected='clicktext'">Tab: Click Text</a></div>
<div><a href ng-click="show=!show">Toggle Tab ({{show ? 'show' : 'hide' }})</a></div>
<div><a href ng-click="disabled=!disabled">Toogle Disabled</a></div>
<div><a href="/404">404</a></div>

