<div layout="column" style="width: 100%; padding: 0px 30px;">

  <h1>Page index</h1>
  <h4 style="margin: 0;">Main</h4>
  <ul>
    <li><a href="/#/projects">Projects</a></li>
    <li><a href="/#/users">Users</a></li>
    <li><a href="/#/trades">Trades</a></li>
    <li>Reports</li>
  </ul>

  <h4 style="margin: 0;">Builder Settings</h4>
  <ul>
    <li><a href="/#/builder-overview">Overview</a></li>
    <li><a href="/#/forms">Forms</a></li>
    <li><a href="/#/tradecategories">Trade Categories</a></li>
    <li><a href="/#/usertitles">User Titles</a></li>
  </ul>

  <h4 style="margin: 0;">Project</h4>
  <ul>
    <li><a href="/#/project/4/overview">Project Overview</a></li>
    <li>
        <a href="/#/project/4/suites">Project Suites</a>
        <ul>
            <li><a href="/#/suite/1/overview">Suite Overview</a></li>
            <li><a href="/#/suite/1/deficiencies">Suite Deficiencies</a></li>
            <li><a href="/#/suite/1/files">Suite Files</a></li>
        </ul>        
    </li>
    <li><a href="/#/project/4/forms">Project Forms</a></li>
    <li><a href="/#/project/4/deficiencies">Project Deficiencies</a></li>
    <li><a href="/#/project/4/audits">Project Audits</a></li>
    <li><a href="/#/project/4/trades">Project Trades</a></li>
    <li><a href="/#/project/4/inspection">Project Inspection</a></li>
  </ul>

</div>
  